body {
    margin: 0;
    min-height: 100vh;
    
    background-image: 
        url('imagenes/72591849-40e8-4bb8-859c-b746c98d25a9-removebg-preview.png'),   
        url('imagenes/2023986.jpeg'),     
        url('imagenes/fodo2.jpg');

   
    background-position: 
        bottom right,  
        top left,      
        center;    

  
    background-repeat: 
        no-repeat,    
        no-repeat,     
        repeat;       


    background-size: 
        200px,         
        300px,        
        cover;         
}

h1 {
    text-align: right;
    padding: 20px;
    font-family: serif;
}

nav {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); 
}

nav a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: rgb(243, 0, 0);              
    text-decoration: none;    
    margin: 0 15px;           
    font-size: 18px;         
    font-weight: bold;       
}

nav a:hover {
    color: yellow;            
    text-decoration: underline; 
}
